#logo {
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: 20px 5px;
}

#map {
	height: 800px;
	width: 100%;
}

#products {
	overflow: auto;
	height: 800px;
}