.item {
    padding-top: 18px;
    color: #666666;
	background-color: #f8f8f8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

small.error:empty {
   display: none;
}